// Specific CSS for your home-page
.home-container {
  height: 40vh;
  width: 100vw;
}
.home-text {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
  align-items: center;
  height: 100%;
  margin-bottom: 2rem;
}
.filters-questions, .filters-questions-qcm {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 1rem;
}
.questions-search-form {
  margin-top: 1rem;
  height: 100%;
}
.questions-level-search, .questions-category-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.questions-level-inputs, .questions-category-inputs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1.5rem;
}
.level-choice, .category-choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}
.filters-buttons {
  display: flex;
  justify-content: space-around;
  input, a {
    margin-bottom: 2rem;
  }
}
.not-allowed {
  pointer-events: none;
  opacity: 0.7;
}
.hide-element {
  display: none;
}
