// Specific CSS for your home-page
.home-container {
  height: 40vh;
  width: 100vw;
}
.home-text {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
  align-items: center;
  height: 100%;
  margin-bottom: 2rem;
}
.filters-questions, .filters-questions-qcm {
  width: 100%;
  height: 100%;
  margin: auto;
  margin-top: 1rem;
}
.questions-search-form {
  margin-top: 1rem;
  height: auto;
}
.questions-level-search, .questions-category-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
.questions-level-inputs, .questions-category-inputs{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1.5rem;
}
.level-choice, .category-choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}
.category-choice-qcm {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
}
.filters-buttons {
  display: flex;
  justify-content: space-around;
  input, a {
    margin-bottom: 2rem;
  }
}
.hide-element {
  display: none;
}
// responsive with bootstrap breakpoints
// xs devices (portrait phones less than 576 px)
@media (max-width: 575.98px) {
  .home-text {
    width: 95%;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .filters-questions, .filters-questions-qcm {
    label {
      font-size: 0.9rem !important;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .home-text {
    width: 95%;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .home-text {
    width: 85%;
  }
  .filters-questions, .filters-questions-qcm {
    margin-top: 2rem;
  }
    label {
      font-size: 1.2rem !important;
    }
  .filters-buttons {
    margin-top: 2rem;
  }
}
// Large devices (desktops, 992px and up)
//@media (min-width: 992px) {
//}
// X-Large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) {
//}
// XX-Large devices (larger desktops, 1400px and up)
//@media (min-width: 1400px) {
//}

