// Specific CSS for your home-page
.home-container {
  height: 40vh;
  width: 100vw;
}
.home-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 100%;
  margin: auto;
  button {
    color: white;
    background-color: $dark-blue;
    font-size: 1.1rem;
    font-family: $body-font;
    padding: 0.3rem;
    border-radius: 0.2rem;
    border-width: 0;
    border-style: none;
    &:hover{
      color: darken(white, 20%)
    }
  }
}
