.ressources-container {
  height: 40vh;
  width: 100vw;
  margin-bottom: 2rem;
}
.ressources-text {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  align-items: flex-start;
  height: 100%;
  margin-top: 2rem;
  h3 {
    margin-top: 2rem;
  }
  a {
    color: $dark-blue;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: $body-font;
  }
}
.special-link {
  font-weight: bold;
}
.fa-check {
  font-size: 0.8rem;
}
.ressources-last-li {
  margin-bottom: 2rem;
}
// responsive
//XS and Small devices
@media (max-width: 991.98px) {
  .ressources-text {
    width: 90%;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px){
  .ressources-text {
    width: 80%;
  }
}
