.show-question-container {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  h3 {
    margin-bottom: 2rem;
  }
  h4 {
    font-style: italic;
    text-align: justify;
  }
}
.show_question-bottom-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  a {
    width: 8rem;
    text-align: center;
  }

}
.question-content {
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  li {
    text-align: justify;
    font-style: italic;
  }
}
.question-answer-content {
  margin-top: 2rem;
}
