<div class="banner-container">
  <div class="banner-text">
    <h1>S'ENTRAINER AU QCM D'ARBITRAGE</h1>
    <h2>FLEURET - ÉPÉE - SABRE</h2>
  </div>
  <%= image_tag 'banner.jpg', class: "banner-img" %>
</div>
