<div class="banner-container">
  <div class="banner-text">
    <h1>S'ENTRAÎNER AU QCM D'ARBITRAGE</h1>
    <div class="banner-second-title">
      <h2>FLEURET - ÉPÉE - SABRE</h2>
      <h2>DÉPARTEMENTAL - RÉGIONAL</h2>
    </div>
  </div>
  <div class="banner-img">
  </div>
  <%#= image_tag 'banner.jpg', class: "banner-img" %>
</div>
