<div class="footer-container">
  <div class="footer-link-left">
    <a href="https://escrime-iledefrance.fr" target="_blank">Comité d'Escrime IDF</a>
  </div>
  <div class="footer-link-right">
    <a href="https://escrimeaparis.fr" target="_blank">CIDE 75</a>
    <a href="http://ligue.leav.fr" target="_blank">LEIFO</a>
    <a href="https://www.escrime-idfest.fr" target="_blank">Escrime IDF Est</a>
  </div>
</div>
