<div class="footer-container">
  <div class="footer-link-left">
    <a href="https://escrime-iledefrance.fr">Comité d'Escrime IDF</a>
  </div>
  <div class="footer-link-right">
    <a href="https://escrimeaparis.fr">CIDE 75</a>
    <a href="http://ligue.leav.fr">LEIFO</a>
    <a href="https://www.escrime-idfest.fr">Escrime IDF Est</a>
  </div>
</div>
