<div class="home-container" role="main">
  <div class="home-text">
    <button class="btn-blue select-questions"> Sélectionner des questions</button>
    <button class="btn-blue complete-qcm"> QCM complet chronométré</button>
  </div>
</div>
