<div class="home-container" role="main">
  <div class="home-text">
    <button class="select-questions"> Sélectionner des questions</button>
    <button class="complete-qcm"> QCM complet chronométré</button>
  </div>
</div>
