<div class="references-container" role="main">
  <div class="references-text">
      <h2>Documentation à consulter</h2>
      <h3>International</h3>
        <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://static.fie.org/uploads/26/131727-Technique%20fra.pdf" target="_blank">Règlement technique (décembre 2021)</a></li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://static.fie.org/uploads/24/124001-t.170%20fra_juil20.pdf" target="_blank">Article t170, tableau des fautes et sanctions (juillet 2020)</a></li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://static.fie.org/uploads/26/131730-Organisation%20fra.pdf" target="_blank">Règles d'organisation (décembre 2021)</a></li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://static.fie.org/uploads/26/131721-RMATER%20fra.pdf" target="_blank">Règlement du matériel (décembre 2021)</a></li>
        </ul>
      <h3>National</h3>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://www.escrime-ffe.fr/medias/fichiers/Vie%20Sportive/CALENDRIER%20SPORTIF/FFE_RS21_22.pdf" target="_blank">Règlement sportif (octobre 2021)</a></li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://www.escrime-ffe.fr/medias/fichiers/Arbitrage/règlement%20et%20doc%20/Formation%20arbitre%20epee658586142.pdf" target="_blank">Formation arbitre épée</a></li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://www.escrime-ffe.fr/medias/fichiers/Arbitrage/règlement%20et%20doc%20/Formation%20arbitre%20fleuret%20sabre1496506219.pdf" target="_blank">Formation arbitre fleuret/sabre</a></li>
        </ul>
      <h3>Régional</h3>
      <ul class="fa-ul">
        <li class="references-last-li"><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://escrime-iledefrance.fr/pratiquer-et-sengager/devenir-arbitre-escrime" target="_blank">Devenir arbitre d'escrime</a></li>
      </ul>
  </div>
</div>
