<% content_for :meta_title, "Arbire d'escrime - Ressources" %>
<% content_for :meta_description, "Tous les documents nécessaires pour réviser la règlementation sur l'escrime" %>

<div class="ressources-container" role="main">
  <div class="ressources-text">
      <h2>Documentation à consulter</h2>
      <h3>International</h3>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://static.fie.org/uploads/29/148746-Technique%20fra.pdf" target="_blank">Règlement technique (Novembre 2022)</a></li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://static.fie.org/uploads/29/147905-t.170%20fra.pdf" target="_blank">Article t170, tableau des fautes et sanctions (Novembre 2022)</a></li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://static.fie.org/uploads/29/147896-Organisation%20fra.pdf" target="_blank">Règles d'organisation (Novembre 2022)</a></li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://static.fie.org/uploads/29/147902-RMATER%20fra.pdf" target="_blank">Règlement du matériel (Novembre 2022)</a></li>
        </ul>
      <h3>National</h3>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://www.ffescrime.fr/je-suis-en-club/competiteurs/reglements/" target="_blank">Règlements sportifs (saison 2023/2024)</a></li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://www.ffescrime.fr/je-suis-en-club/arbitres/reglements-arbitrage/" target="_blank">Règlements d'arbitrage (saison 2023/2024)</a></li>
        </ul>
      <h3>IDF</h3>
      <ul class="fa-ul">
        <li class="ressources-last-li"><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://escrime-iledefrance.fr/pratiquer-et-sengager/devenir-arbitre-escrime" target="_blank">Devenir arbitre d'escrime</a></li>
      </ul>
  </div>
</div>
