<% content_for :meta_title, "Arbire d'escrime - Ressources" %>
<% content_for :meta_description, "Tous les documents nécessaires pour réviser la règlementation sur l'escrime" %>

<div class="ressources-container" role="main">
  <div class="ressources-text">
      <h2>Documentation à consulter</h2>
      <h3>International</h3>
        <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://static.fie.org/uploads/28/141643-Technique%20fra.pdf" target="_blank">Règlement technique (août 2022)</a></li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://static.fie.org/uploads/24/124001-t.170%20fra_juil20.pdf" target="_blank">Article t170, tableau des fautes et sanctions (juillet 2020)</a></li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://static.fie.org/uploads/28/141646-Organisation%20fra.pdf" target="_blank">Règles d'organisation (août 2022)</a></li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://static.fie.org/uploads/28/141649-RMATER%20fra.pdf" target="_blank">Règlement du matériel (août 2022)</a></li>
        </ul>
      <h3>National</h3>
        <ul class="fa-ul">
          <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://www.escrime-ffe.fr/fr/vie-sportive/competitions-resultats/reglement-sportif.html" target="_blank">Règlement sportif fédéral (saison 2022/2023)</a></li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://www.escrime-ffe.fr/medias/fichiers/Arbitrage/règlement%20et%20doc%20/Formation%20arbitre%20epee658586142.pdf" target="_blank">Formation arbitre épée</a></li>
          <li><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://www.escrime-ffe.fr/medias/fichiers/Arbitrage/règlement%20et%20doc%20/Formation%20arbitre%20fleuret%20sabre1496506219.pdf" target="_blank">Formation arbitre fleuret/sabre</a></li>
        </ul>
      <h3>IDF</h3>
      <ul class="fa-ul">
        <li class="ressources-last-li"><span class="fa-li"><i class="fas fa-check"></i></span><a href="https://escrime-iledefrance.fr/pratiquer-et-sengager/devenir-arbitre-escrime" target="_blank">Devenir arbitre d'escrime</a></li>
      </ul>
  </div>
</div>
