.banner-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 40vh;
  background-color: $dark-blue;
  h1 {
    text-align: center;
    color: white;
  }
}
.banner-img {
  width: 60%;
  height: auto;
  background-image: linear-gradient(to right, rgba(0,0,0,0.2),rgba(0,0,0,0.1)), url('banner_draw.png');
  background-size: contain;
  background-position: left;
}
.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: 1rem;
  h2 {
    color: white;
    opacity: 0.8;
    margin-block-end: 0;
    text-align: center;
  }
}
.banner-second-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25%;
}
// responsive
// xs devices (portrait phones less than 576 px)
@media (max-width: 575.98px) {
  .banner-container {
    height: 20vh;
  }
  .banner-img {
    display: none;
  }
  .banner-text {
    width: 100%;
    margin: 0.5rem;
    h1 {
      font-size: 1.3rem !important;
    }
    h2 {
      font-size: 1rem !important;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .banner-container {
    height: 28vh;
  }
  .banner-img {
    display: none;
  }
  .banner-text {
    width: 100%;
    margin: 0.5rem;
    h1 {
      font-size: 1.2rem !important;
    }
    h2 {
      font-size: 1rem !important;
    }
  }
  .banner-second-title {
    margin-bottom: 0.5rem;
  }
}
// phones and orientation landscape
@media (min-width: 768px) and (max-width: 990px) and (orientation: landscape) {
  .banner-container {
    height: 35vh;
  }
  .banner-img {
    background-size: cover;
    display: none;
  }
  .banner-text {
    width: 100%;
    margin: 0.5rem;
    h1 {
      font-size: 1.2rem !important;
    }
    h2 {
      font-size: 1rem !important;
    }
  }
  .banner-second-title {
    margin-bottom: 0.5rem;
  }
}
// Medium devices and X-Large devices
@media (min-width: 768px) and (max-width: 1199.98px){
  .banner-container {
    height: 35vh;
  }
  .banner-img {
    background-size: cover;
  }
}

