.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $dark-blue;
  width: 100vw;
  height: 10vh;
  a{
    color: white;
    text-decoration: none;
  }
  a:hover {
    opacity: 0.8;
  }
}
.footer-link-left {
  width: 40%;
}
.footer-link-right {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
// responsive
// XS devices and Small devices (768px max)
@media (max-width: 767.98px) {
  .footer-link-left {
    width: 30%;
    a {
      text-align: center;
      font-size: 0.8rem !important;
    }
  }
  .footer-link-right {
    width: 65%;
    a {
      text-align: center;
      font-size: 0.8rem !important;
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-link-left {
    a {
      text-align: center;
      font-size: 0.8rem !important;
    }
  }
  .footer-link-right {
    width: 50%;
  }
  a {
      text-align: center;
      font-size: 0.8rem !important;
    }
}

