.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 100vw;
  height: 10vh;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.nav-link {
  color: $dark-blue !important;
  &:hover{
    color: rgba(0,0,0,.55) !important;
  }
}
.navbar-left-links {
  display: flex;
}
#login-signup {
  display: none; // hide if secretkey has not been typed
}
// responsive
// xs devices (portrait phones less than 576 px)
@media (max-width: 575.98px) {
  .navbar-toggler {
    display: none;
  }
}
